.sidebar{
    position: absolute;
    top: 3rem;
    width: 15rem;
    height: 100vh;
    border: 1px solid red;
    z-index: 2;
}

.hidden{
    opacity: 0;
}

.profilePic{
    border: 1px solid red;
    margin: 10px;
    border-radius: 50%;
    width: 90%;
    aspect-ratio: 1/1;
}