.container {
  overflow-y: scroll;
  height: 80vh;
  background-color: transparent;
}

.dashboard {
  background-color: transparent;
}

@media only screen and (max-width: 500px) {
  .container {
    background-color: rgba(128, 128, 128, 0.2);
    height: 80vh;
  }
  .dashboard {
    background-color: rgba(128, 128, 128, 0.2);
  }
}
